/* Style global */
body {
    font-family: 'Arial', sans-serif;
    background: url('espace.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 10%;
    padding: 10%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* Navigation */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF5722;
}

/* Section d'accueil */
.welcome {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
}

/* Section des fonctionnalités */
.features {
    text-align: center;
    padding: 40px;
}

.features h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.feature-card {
    display: inline-block;
    width: 250px;
    background-color: rgba(34, 34, 34, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: scale(1.05);
}

.feature-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 16px;
    margin-bottom: 15px;
}

.feature-card .btn-secondary {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #FF5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.feature-card .btn-secondary:hover {
    background-color: #e64a19;
}

/* Footer */
footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: auto; /* Assurez-vous que le footer soit en bas */
}
